$mainColor:  rgb(231, 135, 8);
$mainFont: 3.5vw;
$mainWeight: 650;
$paraFont:2vw;
$spanFont:15px;
$titleFont:15px;
$resFont:13px;
$titleFont:2.5vw;
$subtitleFont: 1.5vw;
$contentFont: 1.5vw;
$spanColor: rgb(231, 110, 10);
$spanBG:  rgb(221, 216, 209);
$blueBG : rgba(14, 14, 36, 0.993);
$spanWeight: 550;